# Node modules
node_modules/

# TypeScript compiled JavaScript files
*.js
*.js.map

# TypeScript declaration files
*.d.ts

# Output directories
dist/
build/

# Optional: Ignore other specific files or directories
.env
.DS_Store
*.log
